@media (min-width:360px)and (max-width: 600px){
    .landingdiv{
        padding: 13px;
        font-size: 9vw;
        line-height: 50px;
        font-weight: 770;
    }

    .imgdiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .desimg{
        height: 320px;
        width: 320px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .socialicon{
        margin-top: 30px;
        height: 45px;
        width: 45px;
        margin-left: 5px;
}
    .myimg{
    height: 160px;
    width: 160px;
    margin-left: 10px;
    border-radius: 50%;
}
.aboutdiv{
    height: auto;
    width: 95%;
   margin-left: 2.5%;
   padding: 0px;
}

.heading{
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.aboutcontent{
    word-spacing: 1px;
    font-size: 20px;
    margin-top: -20px;
    padding: 30px;
    line-height: 30px;
}

.projectdiv{
    margin-top: 15px;
    
}
.primg{
    height: 280px;
}

.contactform{
    background-color: #393e46b8;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
}

.footer{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
}

}