@media screen and (max-width: 600px){
    .landingdiv{
        padding: 30px;
        font-size: 45px;
        line-height: 60px;
    }

    .desimg{
        height: 400px;
        width: 400px;
        margin-top: 10px;
        margin-left: 30px;
    }

    .socialicon{
        margin-top: 30px;
        height: 50px;
        width: 50px;
        margin-left: 10px;
}

    .myimg{
    margin-bottom: 20px;
    margin-top: 40px;
    height: 220px;
    width: 220px;
    margin-left: 155px;
    border-radius: 50%;
}
.aboutdiv{
    height: 900px;
    width: 100%;
    margin-top: 20px;
    
}

.heading{
    font-size: 34px;
    margin-left: 160px;
    margin-bottom: 20px;
}
.aboutcontent{
    margin-top: -20px;
    padding: 55px;
    line-height: 35px;
}
}