@media screen and (max-width: 600px){
    .landingdiv{
        padding: 30px;
        font-size: 35px;
        line-height: 40px;
    }

    .desimg{
        height: 400px;
        width: 400px;
        margin-top: 10px;
        margin-left: 50px;
    }

    .socialicon{
        margin-top: 20px;
        height: 35px;
        width: 35px;
}
}